# Tooling artifacts
**/.git
**/.github
**/.idea
**/.vscode
**/.fleet

# Meteor artifacts
**/bundle
**/.npm
**/.meteor/local
**/node_modules

# METexpress artifacts
**/*.md
container_deployment
docs
scripts
**/tests
build.sh
LICENSE.md

# Development files
**/tmp
cache*
logs
