name: Documentation
on:
  push:
    branches:
      - development
      - main_*
      - main
      - feature_*
      - bugfix_*
    paths:
      - docs/**
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  documentation:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade python-dateutil requests sphinx \
          sphinx-gallery Pillow sphinx_rtd_theme
          python -m pip install -r docs/requirements.txt
      - name: Build documentation
        run: ./.github/jobs/build_documentation.sh
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: documentation
          path: artifact/documentation
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: documentation_warnings.log
          path: artifact/doc_warnings.log
          if-no-files-found: ignore
